.registered
.DS_Store
*.swp
build/
bin/
lib/
*.pcd
*.pyc
*.so
*.dylib
py-bindings/ompl/app/
py-bindings/ompl/bindings_generator.py
!py-bindings/ompl/bindings_generator.py.in
.vscode
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug
.idea
